@font-face {
  font-family: "NeueMontreal-Bold";
  src: url("ssets/fonts/NeueMontreal-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "NeueMontreal-Regular";
  src: url("assets/fonts/NeueMontreal-Regular.otf") format("opentype");
  font-weight: normal;
}
